<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="./assets/images/TCC Logo.png">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
            <a class="navbar-item">
                Profile
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-danger">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Enter character name">
    </div>
</div>

<div class="field">
    <label class="label">Gender</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Male</option>
                <option>Female</option>
                <option>Non-Binary</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Race</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Human</option>
                <option>Elf</option>
                <option>Dwarf</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Class</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Cleric</option>
                <option>Fighter</option>
                <option>Rogue</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <textarea class="textarea" placeholder="Enter character description"></textarea>
    </div>
</div>

<!-- STATS -->

<input class="button is-success" type="submit" value="Save Character">

<script src="../public/js/character.js"></script>