<<<<<<< HEAD
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="../public/images/TCC Logo.png">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/api/profile" class="navbar-item">
                Profile
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-danger">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
=======
<!-- START FORM -->
<div class="form">

<!-- BASIC -->
<div class="box is-horizontal">
>>>>>>> ec4b314 (working on stat generation)

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Enter character name">
    </div>
</div>

<div class="columns">
    <div class="field column">
        <label class="label">Gender</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Non-Binary</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field column">
        <label class="label">Race</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Human</option>
                    <option>Elf</option>
                    <option>Dwarf</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field column">
        <label class="label">Class</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Cleric</option>
                    <option>Fighter</option>
                    <option>Rogue</option>
                </select>
            </div>
        </div>
    </div>
</div>

</div>

<!-- STATS -->
<div class="box is-horizontal">

<div class="field">
    <label class="label">Strength</label>
    <div class="control">
        <input id="strField" class="input" type="text" placeholder="ROLL ME" disabled>
        <button id="strBtn" class="button is-danger"><i class="fa-solid fa-dice"></i></button>
    </div>
</div>

</div>

<!-- DESCRIPTIONS -->
<div class="box">

<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <textarea class="textarea" placeholder="Enter character description"></textarea>
    </div>
</div>

</div>

<input class="button is-success" type="submit" value="Save Character">

</div>
<!-- END FORM -->

<script src="../public/js/character.js"></script>
<script src="../public/js/stats.js"></script>