<header>
    <h1 class="title is-1 has-text-centered">Tabletop Character Creator</h1>
</header>

<div class="columns is-flex-wrap-wrap">
    <div class="column field is-full is-justify-content-center is-flex">
        <div class="field column is-one-third">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="column field is-full is-justify-content-center is-flex">
        <div class="field column is-one-third">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="buttons column is-two-thirds is-align-self-center is-flex is-justify-content-center">
        <button class="button is-success login-form">
            Login
        </button>
    </div>

</div>

<script src="/public/js/login.js"></script>